<h1>PROFILE PAGE</h1>

<h2>Hello, welcome back, <%= currentUser.name %></h2>

<h2>Username:<%= currentUser.name %> </h2>
	<ul>Instruments: 
		<%currentUser.instruments.forEach(function(item){ %>
		<li><%= item %></li>
		<% }) %>
	</ul>
	<hr>
	<ul> Genres I Am Interested In Playing:
	<%currentUser.genresToPlay.forEach(function(item){ %>
		<li><%= item %></li>
		<% }) %>
	</ul>
	<hr>
	<p>Location:<%= currentUser.zipcode %> </p>
	<br>
	<br> 
<a href="/profile/edit" style="text-decoration-line: none" "><button type="button" name="editButton" class="editBtn btn btn-block btn-warning">Edit Profile</button></a>


<p><%=console.log("i hate living in:", currentUser.zipcode)%></p>