<h1>Search</h1>

<h2 id="searchName">You are: <%= currentUser.name %></h2>


<p>Located in: <%= currentUser.zipcode%></p>
<hr>
<hr>

<div class="row">
<% matchedUsers.forEach(function(val){ %>
	<div class="col-md-3 offset-1 user-card">
		<div class='card-head'>
			<h2>Username:<%= val.name %> </h2>	
		</div>
		<ul>Instruments:
			<%val.instruments.forEach(function(item){ %>
			<li><%= item %></li>
			<% }); %>
		</ul>
		<hr>
		<ul> Genres I am Interested in:
		<%val.genresToPlay.forEach(function(item){ %>
			<li><%= item %></li>
			<% }); %>
		</ul>
		<hr>
		<p>Location:<%= val.zipcode %> </p>
		<button class=""></button>
		<br>
		<br>
		<div class="col-sm-5 col-12">
            <button type="button" class="add" data-toggle="modal" data-target="#commentModal">Leave a message</button>
 		</div>
	</div>
<% }); %> 
</div>

<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentlModalLabel">Comment</h5>
      </div>
    <div class="modal-body">
        <form id="commentForm" action="/profile/search">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Comment</label>
                <div class="col-sm-4">
                      <input type="text" class="form-control" name="message">
           		</div>
            <button type="submit" form="commentForm" id="commentSubmit" method="POST" action=#>Leave Message</button>
        	</div>
        </form>

	</div>
</div>
</div>
</div>