
<h2>You are: <%= currentUser.name %></h2>

<p>Located in: <%= currentUser.zipcode%></p>
<hr>
<hr>

<div class="row">
<% matchedUsers.forEach(function(val){ %>
	<div class="col-md-3 offset-1 user-card">
		<h2>Username:<%= val.name %> </h2>
		<ul>Instruments:
			<%val.instruments.forEach(function(item){ %>
			<li><%= item %></li>
			<% }); %>
		</ul>
		<hr>
		<ul> Genres I am Interested in:
		<%val.genresToPlay.forEach(function(item){ %>
			<li><%= item %></li>
			<% }); %>
		</ul>
		<hr>
		<p>Location:<%= val.zipcode %> </p>
		<br>
		<br>
	</div>
<% }); %> 
</div>