<h1>Search</h1>

<h2 id="searchName"><%= currentUser.name %></h2>


<p>Located in: <%= currentUser.zipcode%></span></p>
<hr>
<hr>

<div class="row">
<% matchedUsers.forEach(function(val){ %>
	<div class="col-md-3 user-card">
		<div class='card-head'>
			<h2><%= val.name %> </h2>	
		</div>
		<ul>Instruments:
			<%val.instruments.forEach(function(item){ %>
			<li><%= item %></li>
			<% }); %>
		</ul>
		<hr>
		<ul> Genres I am Interested in:
		<%val.genresToPlay.forEach(function(item){ %>
			<li><%= item %></li>
			<% }); %>
		</ul>
		<hr>
		<p>Location:<%= val.zipcode %> </p>
		<br>
		<br>
		<div class="col-sm-5 col-12 buttonDiv">
            <button type="button" class="add btn btn-warning" data-toggle="modal" data-target="#commentModal">Leave a message</button>
 		</div>
	</div>
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentlModalLabel">Leave a Message</h5>
      </div>
    <div class="modal-body">
        <form id="<%= val._id %>" data-id="<%= val._id %>">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Message:</label>
                <div class="col-sm-4">
                        <input type='text' class="form-control" name="message">	
                        </input><span class="help-block">You may want to leave contact info for this user to reach you at -- messaging in-app coming soon!</span>
           		</div>
            <button type="submit" form="<%= val._id %>" class="commentSubmit"> Leave Message</button>
        	</div>
        </form>

	</div>
</div>
</div>
</div>
<% }); %> 
</div>

